<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.car_inspection">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".library.youtube.UploadService"
            android:exported="true" />

        <activity android:name=".ui.activity.StepActivity"
            android:screenOrientation="landscape"
            android:configChanges="screenLayout|orientation|screenSize">

        </activity>

        <activity
            android:name=".ui.inputtext.SuggestTextActivity"
            android:configChanges="keyboard|keyboardHidden|locale|screenLayout|screenSize|uiMode|orientation"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateVisible"/>

        <meta-data
            android:name="com.car_inspection.utils.OkHttpLibraryGlideModule"
            android:value="OkHttpLibraryGlideModule" />

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="true" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.car_inspection.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>